@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --color-primario: #191919;
  --color-amarillo: #FFBD59;
  --color-amarillo-degradado: #ffbd5974;
  --color-azul: #0098fe;
  --color-amarillo-intenso: #ff7c00;
  --color-rojo: #d32f2f;
  --color-pink: #ef5291;
  --color-verde: #10c832;
}

.color-blue {
  color: var(--color-azul);
}

.color-yellow {
  color: var(--color-amarillo);
}

.color-orange {
  color: var(--color-amarillo-intenso);
}

.color-pink {
  color: var(--color-pink);
}

.color-green {
  color: var(--color-verde);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img, picture, video {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul, ol {
  list-style: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
::-moz-scrollbar {
  width: 1em;
}

::-moz-scrollbar-thumb {
  background-color: #424242;
  border-radius: 50%;
}

::-moz-scrollbar-thumb:hover {
  background-color: #424242;
}

.d-flex {
  width: 100%;
  display: flex;
  gap: 1em;
}

* {
  font-family: "Poppins";
}

h1, h2, h3, h4, h5, h6, span {
  font-family: "system-ui";
  color: inherit;
}

P {
  font-family: inherit;
  color: inherit;
}

span {
  font-family: inherit;
  color: inherit;
}

.coding-sec {
  width: 100%;
  border-radius: 5px;
  background-color: #f8f9fa;
  border: 1.5px solid rgba(212, 212, 212, 0.4784313725);
  padding: 2em;
  font-family: monospace;
  font-size: 1.2em;
}
.coding-sec span {
  font-family: monospace;
}
.coding-sec .space-tab {
  margin-left: 2em;
}

@keyframes fadeOff {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate360 {
  0% {
    transform: rotate3d(0, 50, 0, 0deg) translateY(0);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg) translateY(-20px);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg) translateY(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleReverse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes vibrate {
  0%, 100% {
    transform: translate(0);
  }
  20% {
    transform: translateX(-5px) rotate(-5deg);
  }
  40% {
    transform: translateX(4px) rotate(4deg);
  }
  60% {
    transform: translateX(-3px) rotate(-3deg);
  }
  80% {
    transform: translateX(3px) rotate(3deg);
  }
}
.button-primary {
  background-color: var(--color-amarillo);
  border: 2px solid var(--color-primario);
  border-radius: 5px;
  color: var(--color-primario);
  padding: 0.5em 1em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: "roboto";
  transition: all 500ms;
}
.button-primary:hover {
  transform: rotate(-5deg) scale(1.2);
}

.button-secondary {
  width: 10vw;
  background: none;
  color: white;
  border: none;
  padding: 0.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.button-secondary--active {
  width: 10vw;
  background-color: white;
  border-radius: 50px;
  border: none;
  color: var(--color-amarillo);
  padding: 0.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: all 100ms;
}

.button-submit {
  background-color: rgb(0, 153, 255);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0em 2em;
  font-weight: 500;
  transition: all 500ms;
  cursor: pointer;
}
.button-submit:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .button-primary, .button-secondary {
    font-size: 0.9em;
  }
  .button-secondary {
    width: 90%;
  }
}
.nav {
  width: 100%;
  height: 4em;
  background-color: white;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.155);
  box-shadow: 0 4px 7px -5px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: sticky;
  top: 0;
}
.nav__logo {
  width: 3em;
  height: 110%;
  display: flex;
  margin-right: 1em;
  transition: all 1s ease;
}
.nav__logo:hover {
  transform: scale(1.3) rotate(20deg);
}
.nav__ul {
  display: flex;
  align-items: center;
  gap: 2em;
}
.nav__li {
  font-weight: 500;
  transition: all 0.3s;
  color: var(--color-primario);
}
.nav__li:hover {
  color: var(--color-amarillo);
}
.nav__close {
  display: none;
}
.nav__li--active {
  font-size: 1.2em;
  color: var(--color-amarillo);
}
.nav__toggle {
  font-size: 2em;
  cursor: pointer;
  display: none;
}

.bi-x {
  font-size: 3em;
  display: none;
}

@media (max-width: 800px) {
  .nav__ul {
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 0vw;
    height: 100vh;
    flex-direction: column;
    gap: 4em;
    overflow: hidden;
    padding: 2em 0em;
  }
  .nav__logo {
    margin-right: 2em;
  }
  .nav__version {
    display: block;
    margin-right: 2em;
  }
  .nav__toggle {
    display: block;
  }
  .bi-x {
    display: inline;
  }
}
.nav__ul--active {
  left: 0;
  width: 100vw;
  padding: 2em;
}

.version {
  background-color: var(--color-amarillo);
  border-radius: 5px;
  padding: 0.2em 0.5em;
  color: white;
}
.version ::after {
  content: "versión 1.0";
}

.about-content {
  background-color: #f8f9fa;
  border: 1px solid rgba(212, 212, 212, 0.4784313725);
  border-radius: 5px;
  padding: 0.5em 1em;
  font-family: monospace;
  font-size: 1.3em;
  min-width: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.about-content p {
  max-width: 100%;
  overflow-wrap: break-word; /* Esto evita que el texto largo sobrepase los límites del contenedor */
}

.footer {
  background-color: var(--color-primario);
  color: white;
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__about {
  display: flex;
  align-items: center;
}
.footer__logo {
  max-width: 3em;
}
.footer__h2 {
  font-size: 1em;
  font-weight: 500;
}
.footer__socials {
  display: flex;
  gap: 2em;
}

@media (max-width: 800px) {
  .footer__logo {
    max-width: 2em;
  }
  .footer__h2 {
    font-size: 0.8em;
  }
  .footer__icon {
    font-size: 0.8em;
  }
  .footer__socials {
    gap: 1em;
  }
}
@keyframes fadeOff {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate360 {
  0% {
    transform: rotate3d(0, 50, 0, 0deg) translateY(0);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg) translateY(-20px);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg) translateY(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleReverse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes vibrate {
  0%, 100% {
    transform: translate(0);
  }
  20% {
    transform: translateX(-5px) rotate(-5deg);
  }
  40% {
    transform: translateX(4px) rotate(4deg);
  }
  60% {
    transform: translateX(-3px) rotate(-3deg);
  }
  80% {
    transform: translateX(3px) rotate(3deg);
  }
}
.header {
  width: 100%;
  min-height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  position: relative;
  overflow: hidden;
}
.header__welcome {
  width: 70%;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}
.header__p-welcome {
  font-size: 1.2em;
  color: var(--color-primario);
}
.header__h1 {
  font-size: 3em;
  color: var(--color-primario);
}
.header__h3, .header__span {
  font-weight: 500;
  font-family: "system-ui";
  font-size: 1em;
}
.header__info {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.header__link {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.header__link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.header__buttons {
  display: flex;
  gap: 2em;
}
.header__icon {
  font-size: 1.4em;
  transition: all 500ms;
}
.header__icon:hover {
  transform: rotate(0deg) scale(1.1);
}

@media (max-width: 800px) {
  .header {
    padding: 2em 0em;
  }
  .header__welcome {
    width: 100%;
  }
  .header__h1 {
    font-size: 3em;
    text-align: center;
  }
}
.h--50 {
  color: rgba(0, 0, 0, 0.4392156863);
}

.cube1 {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-amarillo);
  position: absolute;
  right: 10em;
  top: 20%;
  rotate: 30deg;
  display: grid;
  place-content: center;
  animation: scale 1s 0.1s both ease;
}

.cube2 {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-amarillo);
  position: absolute;
  right: 8em;
  top: 50%;
  rotate: 20deg;
  display: grid;
  place-content: center;
  animation: scale 1s 0.1s both ease;
}

.cube3 {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-amarillo);
  position: absolute;
  left: 10em;
  top: 20%;
  rotate: -30deg;
  display: grid;
  place-content: center;
  animation: scale 1s 0.1s both ease;
}

.cube4 {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-amarillo);
  position: absolute;
  left: 16em;
  top: 60%;
  rotate: -20deg;
  display: grid;
  place-content: center;
  animation: scale 1s 0.1s both ease;
}

.cube {
  cursor: pointer;
}

@media (max-width: 800px) {
  .cube {
    display: none;
  }
}
.cube__p {
  font-family: "Poppins";
  color: white;
}

.main {
  min-height: 100vh;
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0em;
  color: var(--color-primario);
}
.about__icon {
  padding: 2em 1.5em;
  background-color: rgba(255, 189, 89, 0.4392156863);
  border-radius: 10px;
}
.about__span {
  font-size: 4em;
  font-weight: 700;
  color: var(--color-amarillo-intenso);
  line-height: 1em;
}
.about__text {
  width: 70%;
  text-align: center;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.about__h2 {
  font-size: 3em;
}
.about__p {
  font-size: 1.3em;
}
.about__links {
  display: flex;
  gap: 1em;
}
.about__link {
  background-color: #f8f9fa;
  border: 1px solid rgba(212, 212, 212, 0.4784313725);
  border-radius: 5px;
  padding: 0.5em 1em;
  font-family: monospace;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__link ::before {
  content: "$ ";
}
.about__link-direct {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}
.about__a {
  color: var(--color-azul);
  font-size: 1.2em;
}

@media (max-width: 800px) {
  .about__text {
    width: 100%;
  }
  .about__h2 {
    font-size: 2em;
  }
  .about__links {
    flex-direction: column;
  }
}
.bi-clipboard {
  cursor: pointer;
}

.about-mixin {
  color: var(--color-primario);
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1em;
}
.about-mixin__container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.about-mixin__title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}
.about-mixin__h3 {
  font-size: 3em;
  font-family: "roboto";
}
.about-mixin__subtitle {
  font-family: monospace;
  font-size: 1.5em;
}
.about-mixin__p {
  font-size: 1em;
  font-weight: 300;
}

.icons-colorYellow {
  color: var(--color-amarillo-intenso);
  font-size: 0.9em;
}

.about-mixinDownload {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  padding: 2em;
  color: var(--color-primario);
}
.about-mixinDownload__content, .about-mixinDownload__subcontent {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1em;
}
.about-mixinDownload__subcontent {
  text-align: end;
}
.about-mixinDownload__title {
  font-size: 2em;
}
.about-mixinDownload__subtitle {
  font-size: 2em;
}

.about-motion {
  padding: 2em;
  color: var(--color-primario);
  display: grid;
  grid-template-columns: 60% 30%;
}
.about-motion__title {
  font-family: "roboto";
  font-size: 3em;
}
.about-motion__subcontent {
  padding: 3em;
}

@media (max-width: 800px) {
  .about-mixin {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
  .about-mixin__h3 {
    font-size: 2em;
  }
  .about-mixin__container {
    text-align: justify;
  }
  .about-mixinDownload {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em;
  }
  .about-mixinDownload__subtitle {
    font-size: 1em;
  }
  .about-mixinDownload__content, .about-mixinDownload__subcontent {
    padding: 0em;
  }
}
.main-doc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4em);
}

.main-docs {
  height: calc(100vh - 4em);
  display: grid;
  grid-template-columns: 20% 80%;
}

.aside-docs {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1647058824);
}
.aside-docs__list {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.aside-docs__item {
  padding: 0.3em;
  color: var(--color-primario);
  margin-left: 1.5em;
  border-radius: 5px;
}
.aside-docs__item:hover {
  background-color: rgba(255, 189, 89, 0.3137254902);
  color: var(--color-amarillo-intenso);
  cursor: pointer;
}
.aside-docs__item-primary {
  background-color: rgba(255, 189, 89, 0.3137254902);
  color: var(--color-amarillo-intenso);
  padding: 0.3em 1em;
  border-radius: 5px;
}

.header-docs {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.header-docs__container {
  width: 90%;
  height: 70%;
  border: 2px solid var(--color-amarillo);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3137254902);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4em;
  overflow: hidden;
  position: relative;
}
.header-docs__element {
  background: linear-gradient(to left, rgba(243, 59, 18, 0.5921568627), rgba(255, 170, 0, 0.8156862745));
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.header-docs__buttons {
  background-color: var(--color-amarillo);
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0.3em;
  border-radius: 50px;
}
.header-docs__form {
  display: none;
  gap: 1em;
}
.header-docs__form--active {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 90%;
}
.header-docs__inputs {
  width: 20%;
  border: none;
  outline: none;
  background-color: var(--color-amarillo);
  padding: 0.5em 1em;
  font-family: "Poppins";
  border-radius: 5px;
  color: white;
}
.header-docs__inputs::placeholder {
  color: inherit;
}
.header-docs__inputs--active {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 800px) {
  .main-docs {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-docs__buttons {
    width: 60%;
  }
  .header-docs__inputs {
    width: 30%;
  }
}
.header-about {
  min-height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.131);
}
.header-about__content-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-about__subtitle {
  font-weight: 700;
  font-size: 1.2em;
  color: var(--color-azul);
}
.header-about__img {
  width: 50px;
  position: absolute;
  left: -50px;
  bottom: 1em;
}
.header-about__title {
  font-size: 7em;
  color: var(--color-primario);
}
.header-about__subcontent {
  width: 100%;
  font-weight: 700;
}
.header-about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-about__h3 {
  font-size: 1.5em;
  color: var(--color-amarillo-intenso);
}
.header-about__subp {
  font-size: 0.9em;
}

.main-section {
  min-height: calc(100vh - 4em);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.131);
  padding: 0 5em;
}
.main-section__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.main-section__subcontent {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section__title {
  font-weight: 900;
  font-size: 2em;
}
.main-section__subtitle {
  font-size: 1em;
}
.main-section__img {
  transform: rotate(10deg);
  width: 400px;
}
.main-section__icon {
  font-size: 15em;
  animation: iconRoll 10s infinite ease;
}
.main-section__span {
  color: var(--color-amarillo-intenso);
  font-size: 0.3em;
}
.main-section__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.main-subsection {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-subsection__span {
  color: var(--color-azul);
  font-weight: 700;
}

@keyframes iconRoll {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (max-width: 800px) {
  .header-about {
    padding: 1em;
  }
  .header-about__content-top {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .header-about__version {
    display: none;
  }
  .header-about__title {
    font-size: 3em;
  }
  .header-about__img {
    display: none;
  }
  .header-about__h3 {
    font-size: 1em;
  }
  .header-about__subcontent {
    padding: 0 1em;
  }
  .main-section {
    padding: 2em;
    display: flex;
    justify-content: center;
  }
  .main-section__content {
    width: 100%;
  }
  .main-section__subcontent {
    display: none;
  }
  .main-section__container {
    padding: 2em;
    text-align: start;
  }
}
* {
  scroll-behavior: smooth;
}

.rotate {
  animation: rotate 1s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate360 {
  animation: rotate360 3s ease forwards;
}

@keyframes rotate360 {
  0% {
    transform: rotate3d(0, 50, 0, 0deg) translateY(0);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg) translateY(-20px);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg) translateY(0);
  }
}
@keyframes slideY {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.slideY {
  animation: slideY 1s ease;
}

@keyframes slideX {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.slideX {
  animation: slideX 2s ease;
}

@keyframes fadeOff {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOff {
  animation: fadeOff 2s ease;
}

@keyframes spiral {
  from {
    rotate: 0deg;
    transform: translateX(400px);
  }
  to {
    rotate: 360deg;
    transform: translateX(0);
  }
}
.spiral {
  animation: spiral 3s ease;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
.float {
  animation: float 2s ease infinite;
}

@keyframes Scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.scale {
  animation: Scale 3s ease;
}

@keyframes scaleReverse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.scaleReverse {
  animation: scaleReverse 3s ease both;
}

@keyframes fallBounce {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  20%, 50%, 80%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-30px);
  }
  90% {
    transform: translateY(-10px);
  }
}
.fallBounce {
  animation: fallBounce 1.5s ease-in;
}

@keyframes vibrate {
  0%, 100% {
    transform: translate(0);
  }
  20% {
    transform: translateX(-10px) rotate(-10deg);
  }
  40% {
    transform: translateX(8px) rotate(8deg);
  }
  60% {
    transform: translateX(-6px) rotate(-6deg);
  }
  80% {
    transform: translateX(3px) rotate(3deg);
  }
}
.vibrate {
  animation: vibrate 1s ease both infinite;
}

@keyframes repose {
  0%, 100% {
    scale: 0.8;
  }
  50% {
    scale: 1;
  }
}
.repose {
  animation: repose 5s ease infinite;
}

.reboundTop {
  animation: rebound 2s ease;
}

@keyframes rebound {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(35px);
  }
  60% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(12px);
  }
  90% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(2px);
  }
}
.roll {
  animation: roll 2s ease;
}

@keyframes roll {
  0% {
    transform: translateX(100px) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
.rollLeft {
  position: absolute;
  left: 0;
  animation: rollLeft 2s ease;
}
@keyframes rollLeft {
  0% {
    transform: translateX(-100%) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.rollRight {
  position: absolute;
  right: 0;
  animation: rollRight 2s ease;
}
@keyframes rollRight {
  0% {
    transform: translateX(100%) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.btn-scale {
  transition: all 500ms;
}
.btn-scale:hover {
  transform: rotate(10deg) scale(1.1);
}

/*# sourceMappingURL=style.css.map */
