@use 'node_modules/ani-motion936/Motions/_Motions.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    overflow-x: hidden;
    flex-direction: column;
}
div{
    box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.18);
    background: linear-gradient(to right, #FFBD59, #ff7559);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#miTexto{
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 700;
    color: #ff7559;
}
