@mixin slideY($duration, $delay, $mode, $time-line, $distance) {
    animation: slideY $duration $delay $time-line $mode ;
    
    @keyframes slideY {
        from {
            opacity: 0;
            transform: translateY($distance);
        }
        to {
            opacity: 1;
            transform: translate(0);
        }
    }
}

@mixin slideX($duration, $delay, $mode, $time-line, $distance){
    animation: slideX $duration $delay $mode $time-line;
    
    @keyframes slideX{
        from{
            opacity: 0;
            transform: translateX($distance);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@keyframes fadeOff {
    0%{
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
}

@mixin fadeOff($duration, $delay, $mode, $time-line){
    animation: fadeOff $duration $time-line $delay $mode;
}

@keyframes rotate360 {
    0% {
        transform: rotate3d(0, 50, 0, 0deg) 
        translateY(0);
    }
    50% {
        transform: rotate3d(0, 1, 0, 180deg) 
        translateY(-20px);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg) 
        translateY(0);
    }
}


@mixin rotate360($duration, $delay, $mode, $time-line){
    animation: rotate360 $duration $delay $mode $time-line infinite;
}

@mixin spiral($duration, $delay, $mode, $time-line, $distance){
    animation: spiral $duration $delay $mode $time-line;
    @keyframes spiral {
        from{
            rotate: 0deg;
            transform: translateX($distance);
        }
        to{
            rotate: 360deg;
            transform: translateX(0);
        }
    }
}



@mixin float($duration, $delay, $mode, $time-line, $distance){
    animation: float $duration $delay $mode $time-line infinite;

    @keyframes float {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY($distance);
        }
        100%{
            transform: translateY(0);
        }
    }
}

@keyframes scale {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@mixin scale ($duration, $delay, $mode, $time-line){
    animation: scale $duration $delay $mode $time-line;
}

@keyframes scaleReverse {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@mixin scaleReverse($duration, $delay, $mode, $time-line){
    animation: scaleReverse $duration $delay $mode $time-line;
}

@mixin reboundTop($duration, $delay, $mode, $distance){
    animation:rebound $duration $delay $mode ease;

    @keyframes rebound {
        0% {
            transform: translateY($distance);

        }
        50%{
            transform: translateY(35px);
        }
        60%{
            transform: translateY(-20px);
        }
        75%{
            transform: translateY(12px);
        }
        90%{
            transform: translateY(-5px);
        }
        100% {
            transform: translateY(2px);
        }
    }
}

@keyframes vibrate {
    0%, 100%{
        transform: translate(0);
    }

    20% {
        transform: translateX(-5px) rotate(-5deg);
    }
    40% {
        transform: translateX(4px) rotate(4deg);
    }
    60% {
        transform: translateX(-3px) rotate(-3deg);
    }
    80% {
        transform: translateX(3px) rotate(3deg);
    }
}

@mixin vibrate($duration, $delay, $mode, $time-line){
    animation: vibrate $duration $delay $mode $time-line infinite;

}

@mixin repose($duration, $delay, $mode, $time-line, $scale){
    animation: repose $duration $delay $mode $time-line infinite;

    @keyframes repose {
        0%,100%{
            scale: calc($scale - 0.5);
        }
        50%{
            scale: $scale;
        }
    }
}

@mixin roll($duration, $delay, $mode, $time-line, $distance){
    animation: roll $duration $delay $mode $time-line;

    @keyframes roll {
        0%{
            transform: translateX($distance) rotate(0deg);
        }
        100%{
            transform: translateX(0) rotate(360deg);
        }
    }
}

@mixin rollLeft($duration, $delay, $mode, $time-line){
    position: absolute ;
    left: 0;
    animation: rollLeft $duration $delay $mode $time-line ; 

    @keyframes rollLeft {
        0%{
            transform: translateX(-100%) rotate(0deg);
        }
        100%{
            transform: translateX(0) rotate(360deg);
        }
    }
}

@mixin rollRight($duration, $delay, $mode, $time-line){
    position: absolute ;
    right: 0;
    animation: rollRight $duration $delay $mode $time-line ; 

    @keyframes rollRight {
        0%{
            transform: translateX(100%) rotate(0deg);
        }
        100%{
            transform: translateX(0) rotate(360deg);
        }
    }
}

@mixin btn-scale($scale, $rotate){
    transition: all .3s;
    &:hover{
        transform: scale($scale) rotate($rotate);
    }
}


