@import '../utils/Ani-Mixins/ani-mixins';



.header{
    width: 100%;
    min-height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    position: relative;
    overflow: hidden;
    

    &__welcome{
        width: 70%;
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }
    &__p-welcome{
        font-size: 1.2em;
        color: var(--color-primario);
        
    }
    &__h1{
        font-size: 4em;
        color: var(--color-primario);
    }
    &__h3{
        font-weight: 500;
        font-family: 'system-ui';
        font-size: 1em;
    }
    &__info{
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    &__link{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    &__span{
        @extend .header__h3;
    
    }

    &__link-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
        

    }

    &__buttons{
        display: flex;
        gap: 2em;
    }

    &__icon{
        font-size: 1.4em;
        @include btn-scale(1.1, 0deg);
    }


}

@media(max-width:800px){
    .header{
        padding: 2em 0em;

        &__welcome{
            width: 100%;
        }
        &__h1{
            font-size: 3em;
            text-align: center;
        }
    }
}

.h--50{
    color:  #00000070;
}



.cube1{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--color-amarillo);
    position: absolute;
    right: 10em;
    top: 20%;
    rotate:(30deg);
    display: grid;
    place-content: center;
    @include scale(1s, .1s, both,ease)
}

.cube2{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--color-amarillo);
    position: absolute;
    right: 8em;
    top: 50%;
    rotate:(20deg);
    display: grid;
    place-content: center;
    @include scale(1s, .1s, both,ease)
}

.cube3{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--color-amarillo);
    position: absolute;
    left: 10em;
    top: 20%;
    rotate:(-30deg);
    display: grid;
    place-content: center;
    @include scale(1s, .1s, both,ease)
}

.cube4{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--color-amarillo);
    position: absolute;
    left: 16em;
    top: 60%;
    rotate:(-20deg);
    display: grid;
    place-content: center;
    @include scale(1s, .1s, both,ease)
}

.cube{
    cursor: pointer;
}
@media (max-width:800px) {
    .cube{
        display: none;
    }
}

.cube__p{
    font-family: 'Poppins';
    color:white;
}

.main{
    min-height: 100vh;
}

.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 0em;
    color: var(--color-primario);
    &__icon{
        padding:2em 1.5em;
        background-color: #FFBD5970;
        border-radius: 10px;
    }

    &__span{
        font-size: 4em;
        font-weight: 700;
        color: var(--color-amarillo-intenso);
        line-height: 1em;
    }

    &__text{
        width: 70%;
        text-align: center;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &__h2{
        font-size: 3em;
    }

    &__p{
        font-size: 1.3em;
    }

    &__links{
        display: flex;
        gap: 1em;
    }

    &__link{
        background-color: #f8f9fa;
        border: 1px solid #d4d4d47a;
        border-radius: 5px;
        padding: 0.5em 1em;
        font-family:monospace;
        font-size: 1.3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ::before{
            content: '$ ';
        }
    }

    &__link-direct{
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
    }

    &__a{
        color: var(--color-azul);
        font-size: 1.2em; 
    }
}

@media (max-width:800px) {
    .about{
        &__text{
            width: 100%;
        }
        &__h2{
            font-size: 2em;
        }
        &__links{
            flex-direction: column;
        }
    }
}


.bi-clipboard{
    cursor: pointer;
}

.about-mixin{
    color: var(--color-primario);
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 1em;
    &__container{
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }

    &__title{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 5px;
    }
    &__h3{
        font-size: 3em;
        font-family: 'roboto';
        
    }
    &__subtitle{
        font-family: monospace;
        font-size: 1.5em;
    }

    &__p{
        font-size: 1em;
        font-weight: 300;
    }

}

.icons-colorYellow{
    color: var(--color-amarillo-intenso);
    font-size: 0.9em;
}

.about-mixinDownload{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    padding: 2em;
    color: var(--color-primario);

    &__content{
        padding: 1em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 1em;
    }

    &__subcontent{
        @extend .about-mixinDownload__content;
        text-align: end;
    }

    &__title{
        
        font-size: 2em;
    }

    &__subtitle{
        font-size: 2em;
    }
}

.about-motion{
    padding: 2em;
    color: var(--color-primario);
    display: grid;
    grid-template-columns: 60% 30%;

    &__title{
        font-family: 'roboto';
        font-size: 3em;
    }

    &__subcontent{
        padding: 3em;
    }
}

@media (max-width:800px) {
    .about-mixin{
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
        &__h3{
            font-size: 2em;
        }

        &__container{
            text-align: justify;
        }
    }

    .about-mixinDownload{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2em;
        &__subtitle{
            font-size: 1em;
        }

        &__content{
            padding: 0em;
        }
    }
}

