@import '../utils/ani-mixins';
$color-primario:#424242;;
$color-amarillo:#FFBD59;


.header{
    width: 100%;
    height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    position: relative;
    overflow: hidden;

    &__welcome{
        width: 70%;
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }
    &__p-welcome{
        font-size: 1.2em;
        color: $color-primario;
        
    }
    &__h1{
        font-size: 4em;
        color: $color-primario;
    }
    &__h3{
        font-weight: 500;
        font-family: 'system-ui';
        font-size: 1em;
    }
    &__info{
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    &__link{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    &__span{
        @extend .header__h3;
    
    }

    &__link-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
        

    }

    &__buttons{
        display: flex;
        gap: 2em;
    }

    &__icon{
        font-size: 1.4em;
        @include btn-scale(1.1, 0deg);
    }


}

.h--50{
    color:  #00000070;
}

.cube1{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: $color-amarillo;
    position: absolute;
    right: 10em;
    top: 20%;
    rotate:(30deg);
    display: grid;
    place-content: center;
    @include scale(1s, .1s, both,ease)
}

.cube2{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: $color-amarillo;
    position: absolute;
    right: 8em;
    top: 50%;
    rotate:(20deg);
    display: grid;
    place-content: center;
    @include scale(1s, .1s, both,ease)
}

.cube3{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: $color-amarillo;
    position: absolute;
    left: 10em;
    top: 20%;
    rotate:(-30deg);
    display: grid;
    place-content: center;
    @include scale(1s, .1s, both,ease)
}

.cube4{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: $color-amarillo;
    position: absolute;
    left: 16em;
    top: 60%;
    rotate:(-20deg);
    display: grid;
    place-content: center;
    @include scale(1s, .1s, both,ease)
}

.cube__p{
    font-family: 'Poppins';
    color:white;
}

.main{
    min-height: 100vh;
}

.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    &__icon{
        padding:2em 1.5em;
        background-color: #FFBD5970;
        border-radius: 10px;
    }

    &__span{
        font-size: 4em;
        font-weight: 700;
        color: #ff9900;
        line-height: 0.5em;
    }

    &__text{
        width: 70%;
        text-align: center;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &__h2{
        font-size: 3em;
    }

    &__p{
        font-size: 1.3em;
    }

    &__links{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    &__link{
        background-color: #f8f9fa;
        border: 1px solid #d4d4d47a;
        border-radius: 5px;
        padding: 1em;
    }
}

