@import '../utils/Ani-Mixins/ani-mixins';

.button-primary{
    background-color: var(--color-amarillo);
    border: 2px solid var(--color-primario);
    border-radius: 5px;
    color: var(--color-primario);
    padding: 0.5em 1em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'roboto';
    @include btn-scale(1.2, -5deg);
}

.button-secondary{
    background: none;
    color: var(--color-amarillo);
    border: 2px solid var(--color-amarillo);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    transition: all 500ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        transform: translateY(-5px);
        box-shadow: 0px 5px 5px rgb(207, 207, 207)
    }
}

.button-tertiary{
    background: none;
    color: var(--color-rojo);
    border: 2px solid var(--color-rojo);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: 700;
    white-space: nowrap;
    pointer-events: none;
    transition: all 500ms;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-secondary--inactive{
    width: 10vw;
    background-color: transparent ;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 0.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: all 100ms;
}

.button-secondary--active{
    width: 10vw;
    background-color: white ;
    border-radius: 50px;
    border: none;
    color: var(--color-amarillo);
    padding: 0.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: all 100ms;
}



.button-submit{
    background-color: rgb(0, 153, 255);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0em 2em;
    font-weight: 500;
    transition: all 500ms;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
    }
}

@media (max-width:900px) {
    .button-primary,.button-secondary{
        font-size: 0.9em;
    }

    .button-secondary{
        width: 90%;
    }

    .button-secondary--active{
        width: 50%;
    }

    .button-secondary--inactive{
        width: 50%;
    }
}