@import '../utils/ani-mixins';
$color-amarillo:#FFBD59;

.button-primary{
    background-color: $color-amarillo;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em 1em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'roboto';
    @include btn-scale(1.2, -5deg);
}

.button-secondary{
    @extend .button-primary;
}