@import '../utils/Motions/Motions';
$color-amarillo:#FFBD59;
$color-primario:#424242;

.button-primary{
    background-color: $color-amarillo;
    border: 2px solid $color-primario;
    border-radius: 5px;
    color: $color-primario;
    padding: 0.5em 1em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'roboto';
    @include btn-scale(1.2, -5deg);
}

@media (max-width:900px) {
    .button-primary{
        font-size: 0.9em;
    }
}