.coding-sec{
    width: 100%;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: 1.5px solid #d4d4d47a;
    padding: 2em;
    font-family: monospace;
    font-size: 1.2em;

    span{
        font-family: monospace;
    }
    .space-tab{
        margin-left: 2em;
    }
}

