.footer{
    background-color: #ff9900a1;
    color: white;
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__about{
        display: flex;
        align-items: center;
    }
    &__logo{
        max-width: 3em;
    }
    &__h2{
        font-size: 1em;
        font-weight: 500;
    }

    &__socials{
        display: flex;
        gap: 2em;
    }
}

@media (max-width:800px) {
    .footer{
        &__logo{
            max-width: 2em;
        }

        &__h2{
            font-size: 0.8em;
        }

        &__icon{
            font-size: 0.8em;
        }

        &__socials{
            gap: 1em;
        }
    }
}