
.nav{
    width: 100%;
    height: 4em;
    background-color: white;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.155);
    box-shadow: 0 4px 7px -5px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: sticky;
    top: 0;
    
    &__logo{
        width: 3em;
        height: 110%;
        display: flex;
        margin-right: 1em;
        transition:all 1s ease;

        &:hover{
            transform: scale(1.3) rotate(20deg);
        }
    }

    &__ul{
        display: flex;
        align-items: center;
        gap: 2em;
    }
    &__li{
        font-weight: 500;
        transition: all 0.3s;
        color: var(--color-primario);
        &:hover{
            color: var(--color-amarillo);
        }
    }

    &__close{
        display: none;
    }

    &__li--active{
        font-size: 1.2em;
        color: var(--color-amarillo);
    }

    &__toggle{
        font-size: 2em;
        cursor: pointer;
        display: none;
    }

}

.bi-x{
    font-size: 3em;
    display: none;
}

@media(max-width:800px) {
    .nav{
        
        &__ul{
            transition: all 1s;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            width: 0vw;
            height: 100vh;
            flex-direction: column;
            gap: 4em;
            overflow: hidden;
            padding: 2em 0em;
            

        }

        &__logo{
            margin-right: 2em;
        }


        &__version{
            display: block;
            margin-right: 2em;
        }

        &__toggle{
            
            display: block;
        }
    }

    .bi-x{
        display: inline;
    }
}

.nav__ul--active{
    left: 0;
    width: 100vw;
    padding: 2em;
}