@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Poppins';
}

h1,h2,h3,h4,h5,h6, span{
    font-family: 'system-ui';
    color: inherit;
}

P{
    font-family: inherit;
    color: inherit;
}

span{
    font-family: inherit;
    color: inherit;
}