$color-primario:#424242;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img, picture, video{
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol{
    list-style: none;
}

body{
    width: 100vw;
    overflow-x: hidden;
}
/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Firefox */
::-moz-scrollbar {
    width: 1em;
}

::-moz-scrollbar-thumb {
    background-color: $color-primario;
    border-radius: 50%;
}

::-moz-scrollbar-thumb:hover {
    background-color: $color-primario;
}
