:root {
    --color-primario: #191919;
    --color-amarillo: #FFBD59;
    --color-amarillo-degradado: #ffbd5974;
    --color-azul: #0098fe;
    --color-amarillo-intenso: #ff7c00;
    --color-rojo: #d32f2f;
    --color-pink: #ef5291;
    --color-verde: #10c832;
}

.color-blue {
    color: var(--color-azul);
}

.color-yellow {
    color: var(--color-amarillo);
}

.color-orange {
    color: var(--color-amarillo-intenso);
}

.color-pink {
    color: var(--color-pink);
}

.color-green {
    color: var(--color-verde);
}

.color-red{
    color: var(--color-rojo);
}

.color-black{
    color: var(--color-primario);
}